<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  
  <style>
    ul {
      list-style-type: none;
      overflow: hidden;
      background-color:#4F0E0E;
    }
    
    li {
      float: right;
    }
    
    li a {
      display: block;
      color:#DFBB9D;
      text-align: center;
      text-decoration: none;
      padding-left: 14px;
      padding-top:5px;
    }
    
    li a:hover {
      color: #DFBB9D;
   
       }
       #adding{
        margin-right: 50px;
        margin-top: -32px;
       }
    </style>
    </head>
  <div class="header">
    <ul>
      
      <li class="rhead" style="float:left"><a href="/">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
        </style>
        Renovate Your Thoughts</a></li>
      <li id="adding" style="float:right"><a href="/compose">+</a></li>
    <li id="about"><a href="/about">ABOUT US</a></li>
    <li id="contact"><a href="/contact">CONTACT US</a></li>
    
  </ul>
      </div>
    </nav>
  </div>


  <body>
    <div class="container">
    
