<%- include("partials/header"); -%>
    <form action="home.ejs">
        <input type="text" value="" id="fname">
        <input type="submit" value="submit" id="sub" href="/home.ejs">
    </form>
<%- include("partials/footer"); -%>
